{% extends "email/base_email.html" %}

{% block title %}Hurrayy!! Welcome to SpiceShare{% endblock %}

{% block email_title %}
Welcome to SpiceShare Newsletter!
{% endblock %}

{% block email_content %}
<p>Hi there,</p>
<p>Thank you for subscribing to our newsletter! We’re thrilled to have you on board.</p>
<p>Get ready to receive the latest and greatest recipes, cooking tips, and special updates from SpiceShare, delivered
straight to your inbox.</p>
<p>To explore our collection of recipes, visit our site:</p>
<a href="{{ url_for('recipe_routes.list_recipes', _external=True) }}" class="button">Explore Recipes</a>
{% endblock %}