{% extends "base.html" %}

{% block title %}
Sign Up - SpiceShare
{% endblock title %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
	<h2 class="text-2xl font-semibold text-text mb-6">Create Account</h2>
	<form action="{{ url_for('user_routes.register') }}" method="POST">
		<div class="mb-4">
			<label for="first_name" class="block text-sm font-medium text-text">First Name:</label>
			<input type="text" id="first_name" name="first_name" class="mt-1 p-2 w-full border rounded" required
				placeholder="John">
		</div>
		<div class="mb-4">
			<label for="last_name" class="block text-sm font-medium text-text">Last Name:</label>
			<input type="text" name="last_name" class="mt-1 p-2 w-full border rounded" required placeholder="Doe">
		</div>
		<div class="mb-4">
			<label for="email" class="block text-sm font-medium text-text">Email:</label>
			<input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded" required
				placeholder="me@example.com">
		</div>
		<div class="mb-4">
			<label for="username" class="block text-sm font-medium text-text">Username:</label>
			<input type="text" name="username" class="mt-1 p-2 w-full border rounded" required placeholder="j_doe123">
		</div>
		<div class="mb-4">
			<label for="password" class="block text-sm font-medium text-text">Password:</label>
			<input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded" required
				placeholder="*******">
		</div>
		<button type="submit" class="bg-primary text-white py-2 px-4 rounded hover:bg-primary-dark">Register</button>
	</form>
</div>
{% endblock content %}